@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.anime-card {
		@apply flex flex-col items-center p-4 relative cursor-pointer 
        before:rounded-xl
        before:shadow 
        before:transition-all 
        before:absolute 
        before:inset-0 
        before:z-[-1]
        before:block
        before:w-full before:h-full before:scale-100
        hover:before:scale-[1.02];
	}

	.img-wrap {
		@apply relative w-full h-64 mb-6;
	}

	.img-full {
		@apply object-cover object-top w-full h-full;
	}
}
